<div class="comments">
  <h4 class="comment-title font-alt">There are <%= @count_comment %> comments</h4>
  <div class="comment clearfix">
    <% comments.each do |comment| %>
      <div class="comment-avatar"><%=  link_to image_tag(comment.user.image), user_path(comment.user) %></div>
        <div class="comment-content clearfix">
          <div class="comment-author font-alt"><%= link_to comment.user.name, user_path(comment.user) %></div>
          <div class="comment-body">
            <p><%= comment.body %></p>
          </div>
          <div class="comment-meta font-alt">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %> - 
            <a href="#">Reply</a>
            <% if current_user == comment.user %>
              <%= link_to " - 削除", comment, method: :delete, data: { confirm: "コメントを削除しますか?" } %>
            <% end %>
          </div>
        </div>
    <% end %>
    
    <%#= paginate comments %>
    
  </div>
</div>