<% if users.any? %>
  <% users.each do |user| %>
    <div class="tab-pane" id="reviews">
      <div class="comments reviews">
        <div class="comment clearfix">
          <div class="comment-avatar">
            <%=  link_to image_tag(user.image, size: 100), user_path(user) %>
          </div>
          <div class="comment-content clearfix">
            <div class="comment-author font-alt">
              <%= link_to user.name, user_path(user) %>
            </div>
            <div class="comment-body">
              <p><%= user.age %> / <%= user.live %> / <%= user.hobby %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%#= paginate @followings %>
<% else %>
  <p class="text-center" style="margin-top:30px;" >フォローユーザーはいません</p>
<% end %>
